@model IEnumerable<baumanaUn.Models.Course>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<table id="course" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">CourseName</th>
            <th class="text-center">CoursePrice</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var names in Model)
        {
            <tr>

                <td class="vert-align text-center">@names.Id</td>
                <td class="vert-align text-center">@names.CourseName</td>
                <td class="vert-align text-center">@names.CoursePrice</td>

            </tr>
        }
    </tbody>
</table>
